@import "tailwindcss";

body {
  background-color: #FAFAF2;
  font-family: "barlow"
}

@theme {
  --animate-slow-spin: slow-spin 90s linear infinite;
  --animate-video-play: video-play 1s linear infinite;

  @keyframes slow-spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes video-play {
    0% {
      opacity: .5;
      transform: scale(1)
    }

    80% {
      opacity: 0;
      transform: scale(1.5)
    }
    
    100% {
      opacity: 0;
      transform: scale(2.5)
    }
  }
}